<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<% content_for :head do %>
  <meta name="govuk:components_gem_version" content="<%= GovukPublishingComponents::VERSION %>">

  <% if user_signed_in? %>
    <meta name="govuk:user-created-at" content="<%= current_user&.created_at&.to_date %>">
    <meta name="govuk:user-organisation-name" content="<%= current_user&.organisation&.name %>">
    <meta name="govuk:user-role" content="<%= current_user&.role %>">
    <meta name="govuk:user-id" content="<%= current_user&.anonymous_user_id %>">
  <% end %>

  <meta name="govuk:format" content="<%= "#{action_name}-#{controller_name}" %>">

  <% if get_content_id(@edition) %>
    <meta name="govuk:content-id" content="<%= get_content_id(@edition) %>">
  <% end %>

  <%= javascript_include_tag "domain-config" %>
  <%= javascript_include_tag "es6-components", defer: true %>
  <%= javascript_include_tag "govuk_publishing_components/load-analytics" %>
  <%= turbo_include_tags %>

  <% if ENV["DEBUG_GA4"] %>
    <script type="text/javascript">
      window.GOVUK.analyticsGa4.showDebug = true
    </script>
  <% end %>
<% end %>

<% sanitized_title = sanitize((yield(:page_title).presence || yield(:title))) %>

<%= render "govuk_publishing_components/components/layout_for_admin",
           product_name: yield(:product_name).presence || product_name,
           environment: environment,
           browser_title: ("Error: " if yield(:error_summary).present?).to_s + sanitized_title do %>

  <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0"
        id="main-content"
        data-module="ga4-link-tracker"
        role="main"
        data-ga4-link='{ "event_name": "navigation", "type": "generic_link" }'
        data-turbo="false">

    <div class="app-views-dynamic-preview-header">
      <% if yield(:title).present? %>
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <%
                heading_options = {
                  context: yield(:context),
                  text: yield(:title),
                  heading_level: 1,
                  font_size: "xl",
                }
              %>
              <%= render "govuk_publishing_components/components/heading", heading_options %>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield :header %>
    </div>

    <%= yield %>

  </main>

<% end %>
