<ul class="actions govuk-list govuk-!-text-align-centre">
  <% if state == "draft" && completed? %>
    <li>
      <%= render Shared::TransitionButtonComponent.new(
        edition: edition,
        transition: :ready_for_review,
      ) %>
    </li>
  <% end %>

  <% if state == "draft" && !completed? %>
    <li class="govuk-!-static-margin-bottom-3">
      <%= render "govuk_publishing_components/components/button", {
        text: "Complete draft",
        href: workflow_path(edition, step: :review),
        inline_layout: false,
      } %>
    </li>
  <% end %>

  <% if state == "awaiting_review" %>
    <li class="govuk-!-static-margin-bottom-3">
      <%= render "govuk_publishing_components/components/button", {
        text: "Send to factcheck",
        href: new_review_outcome_path(edition),
        inline_layout: false,
      } %>
    </li>
  <% end %>

  <% if finalised_state? %>
    <li>
      <%= render "govuk_publishing_components/components/button", {
        text: "Edit #{document.block_type.humanize.downcase}",
        href: new_document_edition_path(document),
        secondary_solid: true,
        inline_layout: false,
      } %>
    </li>
  <% end %>

  <% if state != "published" && document.has_published_edition? %>
    <li class="govuk-!-static-margin-top-3">
      <%= link_to("Go to published edition", published_edition_document_path(document), class: "govuk-link") %>
    </li>
  <% end %>

  <% if edition.is_deletable? %>
    <li class="govuk-!-static-margin-top-3">
      <%= link_to "Delete draft", delete_edition_path(edition), class: "govuk-link govuk-link--no-visited-state gem-link--destructive" %>
    </li>
  <% end %>
</ul>
