<% link_content = capture do %>
  <%=
    I18n.t("fact_check.share_preview.link_label_html", timestamp: formatted_expiration_timestamp).html_safe
  %>

  <div class="gem-c-copy-to-clipboard--primary">
    <%= render "govuk_publishing_components/components/copy_to_clipboard", {
      label: link_content,
      copyable_content: helpers.fact_check_url_with_token(edition),
      button_text: I18n.t("fact_check.share_preview.link_text"),
    } %>
  </div>

  <p class="govuk-body govuk-!-margin-top-7">
    <%= I18n.t("fact_check.share_preview.reset_link_guidance") %>
  </p>

  <%= form_for edition, url: update_fact_check_preview_link_edition_path(edition), method: :put do %>
    <%= render "govuk_publishing_components/components/button", {
      text: I18n.t("fact_check.share_preview.reset_link_text"),
      secondary_quiet: true,
      type: "submit",
    } %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/inset_text" do %>
  <%= link_content %>
<% end %>
