<%= tag.div(class: component_classes) do %>
  <% if summary_card_rows.length.positive? %>
    <div class="app-c-embedded-objects-blocks-component__main-summary-card-wrapper">
      <%= render "govuk_publishing_components/components/summary_card", {
        title:,
        rows: summary_card_rows,
      } %>
    </div>
  <% end %>

  <% if !schema.embeddable_as_block? %>
    <%= nested_blocks %>
  <% else %>
    <div class="app-c-embedded-objects-blocks-component__details-wrapper">
      <% attributes = capture do %>
        <div class="app-c-embedded-objects-blocks-component__details-text">
          <%= all_attributes_preamble %> <%= embed_code_usage %>
        </div>
        <div class="app-c-embedded-objects-blocks-component__details-summary-list">
          <%= render "govuk_publishing_components/components/summary_list", {
            items: attribute_rows(:field),
          } %>

          <%= nested_blocks %>
        </div>
      <% end %>

      <%= render "govuk_publishing_components/components/details", {
        title: "All #{object_name} attributes",
        summary_aria_attributes: {
          label: object_title,
        },
      } do %>
        <%= attributes %>
      <% end %>
    </div>
  <% end %>
<% end %>
