<% content_for :page_full_width, true %>
<% content_for :page_title, @block.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      <span class="govuk-caption-xl"><%= @block.block_type %></span>
      <%= @block.title %>
    </h1>

    <%= render(
          Shared::DocumentStatusTagComponent.new(
            edition: @block,
            ),
          ) %>
  </div>
</div>

<% if @block.embeddable_as_block? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render FactCheck::FullBlockDiffComponent.new(block: @block) %>
    </div>
  </div>
<% end %>

<% @subschemas.ungrouped.each do |subschema| %>
  <div class="subschema-listing" data-testid="<%= subschema.id %>_listing">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-l"><%= h subschema.name %></h2>
        <%= render FactCheck::UngroupedSubschemaDiffComponent.new(block: @block, subschema: subschema) %>
      </div>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render Shared::HostEditionsTableComponent.new(
      caption: "List of locations",
      host_content_items: @host_content_items,
      current_page: @page,
      order: @order,
      edition: @block,
      ) %>
  </div>
</div>
