<%= content_tag(:div, wrapper_attributes) do %>
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <%= title %> <span class="govuk-visually-hidden"><%= @counter %></span>
    </h2>
    <ul class="govuk-summary-card__actions">
      <% summary_card_actions.each do |action| %>
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="<%= action[:href] %>"><%= action[:label] %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: rows,
    } %>
    <% nested_items(items).each do |field, items| %>
      <% if items.is_a?(Array) %>
        <%= render Shared::EmbeddedObjects::SummaryCard::NestedItemComponent.with_collection(
          items,
          field:,
          object_type:,
          title: key_to_title(field.name, edition.schema.block_type, schema.id),
          subschema: schema,
          root_schema_name: root_schema.block_type,
        ) %>
      <% else %>
        <%= render Shared::EmbeddedObjects::SummaryCard::NestedItemComponent.new(
          nested_items: items,
          field:,
          object_type:,
          title: key_to_title(field.name, edition.schema.block_type, schema.id),
          subschema: schema,
          root_schema_name: root_schema.block_type,
        ) %>
      <% end %>
    <% end %>
  </div>
<% end %>
