<% content_for :page_title, @title %>
<% content_for :title, @title %>
<% content_for :context, @edition.title %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: new_factcheck_outcome_edition_path(@edition),
  } %>
  <% end %>

<%= form_tag(update_factcheck_outcome_edition_path(@edition), method: :put) do %>

  <%= render "govuk_publishing_components/components/input", {
      name: "factcheck_outcome[factcheck_performer]",
      label: { text: I18n.t("edition.outcomes.performer.label.factcheck") },
      hint: I18n.t("edition.outcomes.performer.hint.factcheck"),
      error_message: flash.alert.presence,
  } %>

  <div class="govuk-button-group govuk-!-margin-bottom-6">
    <%= render "govuk_publishing_components/components/button", {
      text: I18n.t("edition.transitions.#{@transition}"),
      name: "continue",
      value: "Continue",
      type: "submit",
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: I18n.t("buttons.cancel"),
      href: document_path(@edition.document),
      secondary_solid: true,
    } %>
  </div>

<% end %>
