<% content_for :page_title, @title %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: document_path(@edition.document),
  } %>
<% end %>

<%= form_tag(create_factcheck_outcome_edition_path(@edition)) do %>

  <%= render "govuk_publishing_components/components/radio", {
    name: "factcheck_outcome[factcheck_performed]",
    heading: @title,
    heading_caption: @edition.title,
    heading_level: 1,
    error_message: flash.alert.presence,
    items: [
      {
        value: "true",
        text: "Completed factcheck",
      },
      {
        value: "false",
        text: "Skip factcheck",
      },
    ],
  } %>

  <div class="govuk-button-group govuk-!-margin-bottom-6">
    <%= render "govuk_publishing_components/components/button", {
      text: "Continue",
      name: "continue",
      value: "Continue",
      type: "submit",
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Cancel",
      href: document_path(@edition.document),
      secondary_solid: true,
    } %>
  </div>

<% end %>
