<% content_for :context, context %>
<% content_for :title, "#{@action} #{@group_name.humanize(capitalize: false)}" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<% content_for :title_side do %>
  <div id="preview_link_<%= @edition.id %>">
    <%= render("govuk_publishing_components/components/button", {
      text: "Preview",
      secondary_quiet: true,
      href: preview_edition_path(@edition),
      margin_bottom: false,
      data_attributes: {
        turbo_stream: true,
      },
    }) %>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="edition_<%= @edition.id %>">
      <% if flash[:error] %>
        <%= render Edition::New::ErrorSummaryComponent.new(
          error_message: flash[:error],
          ) %>
      <% end %>

      <%= form_with url: workflow_path(
        @edition,
        step: @step_name,
        ), method: :put, id: @step_name do %>
        <%= render Edition::Workflow::GroupComponent.new(
          edition: @edition,
          subschemas: @subschemas,
          ) %>
      <% end %>

      <%= render("govuk_publishing_components/components/button", {
        text: "Add another #{@group_name.humanize.singularize.downcase}",
        href: new_embedded_object_edition_path(
          @edition,
          group: @group_name,
          ),
        margin_bottom: 6,
        secondary_solid: true,
      }) %>

      <%= render Shared::ContinueOrCancelButtonGroup.new(
        form_id: @step_name,
        edition: @edition,
        ) %>
    </div>
  </div>
</div>
