<% parent_class = "edition" %>

<% content_for :error_summary, render(Shared::ErrorSummaryComponent.new(object: @form.edition, parent_class:)) %>

<%= form_with(
      url: @form.url,
      method: @form.form_method,
      model: @form.edition,
      **ga4_data_attributes(edition: @form.edition, section: @form.class.name.demodulize.downcase, block_type: @form.schema.block_type)) do |f| %>
  <%= hidden_field_tag "edition[document_attributes][block_type]",
                       @form.schema.block_type %>

  <p class="govuk-body">
    <%= I18n.t("edition.new.general_field_notice") %>
  </p>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: label_for_title(@form.schema.block_type),
    },
    name: "edition[title]",
    id: "#{parent_class}_title",
    value: @form.edition&.title,
    error_items: errors_for(@form.edition.errors, "title".to_sym),
    hint: I18n.t("edition.hints.#{@form.schema.block_type}.title", default: nil),
  } %>

  <%=
    render Edition::Details::FormComponent.new(
      edition: @form.edition,
      schema: @form.schema,
      populate_with_defaults: is_new_record,
    )
  %>

  <%= render "govuk_publishing_components/components/select_with_search", {
    id: "#{parent_class}_lead_organisation_id",
    name: "edition[lead_organisation_id]",
    error_items: errors_for(@form.edition.errors, "lead_organisation_id".to_sym),
    hint: I18n.t("edition.hints.not_displayed"),
    include_blank: true,
    label: I18n.t("edition.labels.lead_organisation"),
    options: taggable_organisations_container([@form.edition.lead_organisation_id]),
  } %>

  <%= render "govuk_publishing_components/components/textarea", {
    label: {
      text: I18n.t("edition.labels.instructions_to_publishers"),
    },
    name: "edition[instructions_to_publishers]",
    hint: t("edition.hints.instructions_to_publishers_html"),
    textarea_id: "#{parent_class}_instructions_to_publishers",
    value: @form.edition&.instructions_to_publishers,
    error_items: errors_for(@form.edition.errors, "instructions_to_publishers".to_sym),
  } %>

  <div class="govuk-button-group govuk-!-margin-bottom-6">
    <%= render "govuk_publishing_components/components/button", {
      text: I18n.t("buttons.save_and_continue"),
      name: "save_and_continue",
      value: I18n.t("buttons.save_and_continue"),
      type: "submit",
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: I18n.t("buttons.cancel"),
      href: @form.back_path,
      secondary_solid: true,
    } %>
  </div>
<% end %>
