<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for Content Block Manager</h1>
    <p class="govuk-body">This accessibility statement applies to content published on the <%= link_to "content-block-manager.publishing.service.gov.uk", "https://content-block-manager.publishing.service.gov.uk", class: "govuk-link" %> domain.</p>
    <p class="govuk-body">This website is run by the Government Digital Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts using browser or device settings</li>
      <li>zoom in up to 400% without the text spilling off the screen</li>
      <li>navigate most of the website using a keyboard or speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
    <h2 class="govuk-heading-l">Feedback and contact information</h2>
    <p class="govuk-body">If you find any problems not listed on this page or think we’re not meeting accessibility requirements, <%= link_to "contact us", "https://www.gov.uk/contact/govuk", class: "govuk-link" %>.</p>
    <p class="govuk-body">You can also <%= link_to "tell us if you need information in a different format", "https://www.gov.uk/contact/govuk", class: "govuk-link" %>.</p>
    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <%= link_to "Equality Advisory and Support Service (EASS)", "https://www.equalityadvisoryservice.com", class: "govuk-link" %>.
    </p>
    <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">The Government Digital Service is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h3 class="govuk-heading-m">Compliance status</h3>
    <p class="govuk-body">This website is fully compliant with the <%= link_to "Web Content Accessibility Guidelines version 2.2", "https://www.w3.org/TR/WCAG22", class: "govuk-link" %> AA standard.</p>
    <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 5 May 2026.</p>
    <p class="govuk-body">This website was last tested in December 2024 against the WCAG 2.2 AA standard.</p>
    <p class="govuk-body">The test was carried out by a Senior Accessibility Specialist at <%= link_to "GOV.UK", "https://www.gov.uk/", class: "govuk-link" %> using automated testing tools.</p>
  </div>
</div>
