<% content_for :page_full_width, true %>
<% content_for :page_title, @document.most_recent_edition.title %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: documents_path,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      <span class="govuk-caption-xl"><%= @document.schema.name %></span>
      <%= @edition.title %>
    </h1>

    <%= render(
        Shared::DocumentStatusTagComponent.new(
          edition: @edition,
        ),
      ) %>
  </div>

  <div class="govuk-grid-column-one-quarter content-block-manager-header--column-right">

    <% if pre_release_features? %>
      <%= render(
          Edition::Show::ActionsComponent.new(
            edition: @edition,
          ),
        ) %>

    <% else %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Edit #{@document.block_type.humanize.downcase}",
        href: new_document_edition_path(@document),
      } %>
    <% end %>
  </div>
</div>

<%=
  render(
    Document::Show::HostEditionsRollupComponent.new(
      rollup: @host_content_items.rollup,
    ),
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          Document::Show::SummaryListComponent.new(
            edition: @edition,
          ),
        ) %>
  </div>
</div>

<% if @schema.embeddable_as_block? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render(
            Edition::Show::DefaultBlockComponent.new(
              edition: @edition,
              ),
            ) %>
    </div>
  </div>
<% end %>

<% grouped_subschemas(@schema).each do |group, subschemas| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l subschema-listing__heading"><%= h group.humanize %></h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render Edition::Show::EmbeddedObjects::TabGroupComponent.new(
        edition: @edition,
        schema: @schema,
        subschemas: subschemas,
        ) %>
    </div>gst
  </div>
<% end %>

<% ungrouped_subschemas(@schema).each do |subschema| %>
  <div class="subschema-listing" data-testid="<%= subschema.id %>_listing">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l subschema-listing__heading"><%= h subschema.name %></h2>

        <%= render Edition::Show::EmbeddedObjects::SubschemaItemsComponent.new(
          edition: @edition,
          schema: @schema,
          subschema: subschema,
          ) %>
      </div>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
      Document::Show::HostEditionsTableComponent.new(
        caption: "List of locations",
        host_content_items: @host_content_items,
        current_page: @page,
        order: @order,
        edition: @edition,
      ),
    ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
          Document::Show::DocumentTimelineComponent.new(
            content_block_versions: @content_block_versions,
            schema: @schema,
          ),
        ) %>
  </div>
</div>
